<body class="cadastro">
    <div class="Cad">
        <div class="home">
            <a href="/Home"><img src="../Imagens/Luz.png" height="81px" width="150"></a>
        </div>
        <h1>Alteração de Aluno</h1>
    </div>
    <div class="cadastro">
        <form method="post" action="/aluno/editar">
        <input type="hidden" name="id" value="{{aluno.id}}">
            <fieldset>
                <legend><b>Aluno</b></legend>
                <table width="500px">
                    <tr class="imagem1">
                        <td rowspan="10"><img src="../Imagens/estudante.jpg" height="100" width="100"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nome:</td>
                        <td><input type="text" name="txtnome" size="40" value="{{aluno.nome}}"></td>
                    </tr>
                    <tr>
                        <td>Idade:</td>
                        <td><input type="text" name="txtidade" size="40" maxlength="3" value="{{aluno.idade}}"></td>
                    </tr>
                    <tr>
                        <td>Nascimento:</td>
                        <td><input type="date" name="txtnascimento" size="15" value="{{aluno.nasc}}"></td>
                    </tr>
                    <tr>
                        <td>Sexo:</td>
                        <td>
                            <input type="radio" name="optsexo" value="{{aluno.sexo}}"> Masculino
                            <input type="radio" name="optsexo" value="{{aluno.sexo}}" > Feminino
                        </td>
                    </tr>
                    <tr>
                        <td>Nome da Mãe:</td>
                        <td><input type="text" name="txtmae" size="40" value="{{aluno.mae}}"></td>
                    </tr>
                    <tr>
                        <td>Nome de Pai:</td>
                        <td><input type="text" name="txtpai" size="40" value="{{aluno.pai}}">
                    </tr>
                    <tr>
                        <td>RG:</td>
                        <td><input type="text" name="txtrg" size="15" value="{{aluno.rg}}"></td>
                    </tr>
                    <tr>
                        <td>Telefone:</td>
                        <td><input type="text" name="txttelefone" size="15" value="{{aluno.telefone}}"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="email" name="txtemail" size="15" required="required"
                                placeholder="ex. fulano@gmail.com" value="{{aluno.email}}"></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend><b>Endereço</b></legend>
                <table width="500px">
                    <tr class="imagem2">
                        <td rowspan="7"><img src="../Imagens/casa.png" height="100" width="100"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Endereço:</td>
                        <td><input type="text" name="txtendereco" size="40" value="{{aluno.endereco}}"></td>
                    </tr>
                    <tr>
                        <td>Número:</td>
                        <td><input type="text" name="txtnumero" size="20" value="{{aluno.numero}}"></td>
                    </tr>
                    <tr>
                        <td>Bairro:</td>
                        <td><input type="text" name="txtbairro" size="20" value="{{aluno.bairro}}"></td>
                    </tr>
                    <tr>
                        <td>Cidade:</td>
                        <td><input type="text" name="txtcidade" size="20" value="{{aluno.cidade}}"></td>
                    </tr>
                    <tr>
                        <td>Cep:</td>
                        <td><input type="text" name="txtcep" size="20" value="{{aluno.cep}}"></td>
                    </tr>
                    <tr>
                        <td>Complemento:</td>
                        <td><input type="text" name="txtcomplemento" size="40" value="{{aluno.complemento}}"></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend><b>Dados de Pré-Matricula</b></legend>
                <table width="500px">
                    <tr class="imagem3">
                        <td rowspan="6"><img src="../Imagens/formulario.png" height="100" width="100"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Classe:</td>
                        <td>
                            <input type="radio" name="classe" value="{{aluno.classe}}"> Creche<br>
                            <input type="radio" name="classe" value="{{aluno.classe}}"> Pre-Escolar<br>
                            <input type="radio" name="classe" value="{{aluno.classe}}"> Ensino Fundamental<br>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>Turno:</td>
                        <td>
                            <input type="radio" name="optturno" value="{{aluno.turno}}"> Manhã<br>
                            <input type="radio" name="optturno" value="{{aluno.turno}}"> Tarde<br>
                            <input type="radio" name="optturno" value="{{aluno.turno}}"> Noite<br>
                            <br>
                        </td>

                    </tr>
                    <tr>
                        <td>Atividade Incluida:</td>
                        <td>
                            <input type="radio" name="atividade" value="{{aluno.atividade}}"> Musica<br>
                            <input type="radio" name="atividade" value="{{aluno.atividade}}"> Futebol<br>
                            <input type="radio" name="atividade" value="{{aluno.atividade}}"> Informática<br>
                            <br>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <br>
            <div class="botao">
                <input type="submit" value="Alterar Aluno" />
                <input type="reset" value="Limpar Dados" />
            </div>
        </form>
    </div>
</body>