<header>
    <header>
        <link rel="stylesheet" type="text/css" href="public/css/Home.css">
    </header>
</header>

<body>
    <div class="conteiner">
        <div class="logo">
            <a href=""><img src="/public/img/Luz.png"></a>
        </div>
        <div class="logo2">
            <a href=""><img src="/public/img/Luz.png"></a>
        </div>
        <div class="menu">
            <ul>
                <li class="a"><a class="cadastro" href="/Cadastro">Cadastrar Aluno</a></li>
                <li class="a"><a class="Informacao" href="https://pt-br.facebook.com/EscolaInfantilRaiodeLuz/"
                        target="_blank">Informações</a> </li>
            </ul>
        </div>
        </header>
    </div>
    <div class="conteiner2">
        <fieldset>
            <legend><h2>Cadastrados:</h2></legend>


            {{#each posts}}
            <fieldset class="alunos">
                <legend>
                    <h2> Aluno: {{nome}}</h2>
                </legend>
                <tr>
                    <td>
                        <div class="dados1">
                            <h2>Dados Aluno</h2>
                            <p>Idade: {{idade}}<br>
                                Nascimento: {{nasc}}<br>
                                Sexo: {{sexo}}<br>
                                Nome da Mãe: {{mae}}<br>
                                Nome de Pai: {{pai}}<br>
                                RG: {{rg}}<br>
                                Telefone: {{telefone}}<br>
                                Email: {{email}} </p>
                        </div>

                        <div class="dados2">
                            <h2>Dados Residenciais </h2>
                            <p>Endereço: {{endereco}}<br>
                                Número: {{numero}}<br>
                                Bairro: {{bairro}}<br>
                                Cidade: {{cidade}}<br>
                                Cep: {{cep}}<br>
                                Complemento: {{complemento}}</p>
                        </div>

                        <div class="dados3">
                            <h2>Matrícula</h2>
                            <p>Classe: {{classe}} <br>
                                Turno: {{turno}} <br>
                                Atividade Incluida: {{atividade}}</p><br>
                        </div>
                        <div class="dados4">
                            <a href="/deletar/{{id}}"><button>Deletar</button></a>
                            <a href="/editar/{{id}}"><button>Editar</button></a>
                        </div>
                    </td>
                </tr>
            </fieldset>
            {{/each}}
        </fieldset>
    </div>
</body>